<article id="7" class="bg-light-gray tl ph4 w-60-m w-25-l ma4-ns ba-ns bw1-ns self-start-ns">
    <a href="#7" class="db tc w1 h1 center"></a>
    <section class="pv2">
        <p>I have a <em class="code pa1 bg-dark-purple light-gray b fs-normal">food-inspired</em> rating system.</p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">My ratings compared to IMDb stars:</h1>
        <ul>
            <li class="pa1 flex justify-between">
                <span>Sublime Lettuce</span>
                <span class="code b">9–10</span>
            </li>
            <li class="pa1 flex justify-between">
                <span>Amazing Savory</span>
                <span class="code b">7.9–8.9</span>
            </li>
            <li class="pa1 flex justify-between">
                <span>Great Onion</span>
                <span class="code b">6–7.8</span>
            </li>
            <li class="pa1 flex justify-between">
                <span>Good Tomato</span>
                <span class="code b">5–5.9</span>
            </li>
            <li class="pa1 flex justify-between">
                <span>Decent Carrot</span>
                <span class="code b">4–4.9</span>
            </li>
            <li class="pa1 flex justify-between">
                <span>Bad Eggplant</span>
                <span class="code b">1–3.9</span>
            </li>
        </ul>
   </section>
</article>
