<article id="7" class="bg-light-gray tl ph4 w-60-m w-25-l ma4-ns ba-ns bw1-ns self-start-ns">
    <a href="#7" class="db tc w1 h1 center"></a>
    <section class="pv2">
        <p>I have a <em class="code pa1 bg-dark-purple light-gray b fs-normal">food-inspired</em> rating system.</p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">My ratings compared to IMDb stars:</h1>
        <ul>
            <li>Sublime Lettuce = 9 to 10</li>
            <li>Amazing Savory = 7.9 to 8.9</li>
            <li>Great Onion = 6 to 7.8</li>
            <li>Good Tomato = 5 to 5.9</li>
            <li>Decent Carrot = 4 to 4.9</li>
            <li>Bad Eggplant = 1 to 3.9</li>
        </ul>
   </section>
</article>
