<article id="9" class="bg-light-gray tl ph4 w-60-m w-25-l ma4-ns ba-ns bw1-ns self-start-ns">
    <a href="#9" class="db tc w1 h1 center"></a>
    <section class="pv2">
        <p>Compared to me, IMDb users give movies <em class="code pa1 bg-dark-purple light-gray b fs-normal">ratings_adjective</em> ratings.</p>
   </section>

    <section class="pv2 bt bb-0 bl-0 br-0 bw1 b--dashed">
        <h1 class="f4 mb0">Number of movies per IMDb rating (translated to my rating system):</h1>
        <ul>
            {% for ratingsData in movieData.imdbRatings %}
                <li class="pa1 flex justify-between">
                    <span>{{ ratingsData.rating }}</span>
                    <span class="code b">{{ ratingsData.count }}</span>
                </li>
            {% endfor %}
        </ul>
   </section>
</article>
