{% extends 'base.html.twig' %}

{% block title %}Hello MovieDataController!{% endblock %}

{% block body %}
    <div class="bg-white dark-purple sans-serif">
        <main class="f4 lh-copy tc flex-ns flex-wrap-ns justify-center-ns">

            {{ include('movie_data/_data.misc.html.twig') }}
            <div class="separator w-100 h2 dn-ns"></div>

        </main>
    </div>
{% endblock %}
